header{
    position: fixed;
    background-color: #373867;
    width: 100%;
    height: 117.92px;
    text-align: center;
    top: 0;
}

p{
    font-size: 14px;
}

header p{
    color:#fff;
    margin-top: 0;
    padding-top: 55px;
    font-size: 40px;
}

aside{
    position: fixed;
    background-color: #f6f6f6;
    width: 335px;
    height: 100%;
    top: 117.92px;
}

nav{
    text-align: center;
}

main{
    margin-left: 335px;
    margin-top: 117.92px;
}

ul{
    list-style: none;
}

footer{
    margin-left: 335px;
}

#RRlogo{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#adress-p{
    display: block;
}

.icon1{
    width: 44px;
    height: 39px;
    margin-bottom: -16px;
    margin-right: 30px;
}

.icon2{
    width: 33px;
    height: 33px;
    margin-top: 5px;
}

.icon3{
    width: 44px;
    height: 29px;
    margin-bottom: -10px;
    margin-right: 30px;
}

.search-container{
    position: relative;
    margin-top: 16px;
}

.search{
    width: 255px;
    height: 36px;
    border-radius: 4;
}

.searcher{
    position: absolute;
    right: 40px;
    top: 5px;
}

.nav-button{
    width: 238px;
    height: 49px;
    background-color: #aace9b;
    border-radius: 10px;
    border: none;
    font-size: 30px;
}

.nav-button:hover{
    background-color: #000;
    color: #fff;
}

.button-container{
    margin-top: 30px;
}

.information{
    font-size: 20px;
    text-align: center;
    margin-top: 139px;
    font-weight: bold;
}

.information-container{
    position: relative;
    text-align: center;
}

.information-container p{
    display: inline-block;
}

.information-p-container{
    width: 70%;
    float: right;
    text-align: left;
}

.information-icon-container{
    width: 30%;
    float: left;
}

section{
    text-align: center;
}

h1{
    font-size: 48px;
    color: #373867;
}

#free-template{
    font-size: 36px;
    color: #423C3C;
}

#description{
    font-size: 20px;
    color: #776262;
}


.info-option-container{
    display: inline-block;
    width: 40%;
    margin: 50px;
}

.info-option-container p{
    
}

.bold{
    font-weight: bold;
}

span{
    text-transform: uppercase;
}