aside{
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    align-items: center;
}

#hamburger-menu{
    justify-self: flex-start;
    align-self: flex-start;
}

#search-container{
    justify-content: space-around;
    align-items: center;
    width: 290px;
    height: 36px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 30px;
}

.nav-info-container{
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.search{
    width: 255px;
    height: 36px;
    border: none;
}

.button-container{
    justify-content: space-around;
    align-items: center;
    height: 49px;
    margin-top: 10px;
}

.nav-button{
    width: 238px;
    height: 49px;
    border-radius: 10px;
    font-size: 30px;
}

.icon1{
    width: 44px;
    height: 39px;
}

.icon3{
    width: 44px;
    height: 29px;
}

.information{
    width: 100%;
}

#information-t{
    align-self: center;
}

.information-container{
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.information-container div, .information-container p{
    width: 71%;
}

#house{
    align-self: flex-start;
}

.icon2{
    width: 33px;
    height: 33px;
}