aside{
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    align-items: center;
    justify-content: space-around;
}

.button-container{
    height: 60px;
    justify-content: space-around;
    align-items: center;
}

.nav-button{
    width: 238px;
    height: 49px;
    background-color: #aace9b;
    border-radius: 10px;
    border: none;
    font-size: 30px;
}

.icon1{
    width: 44px;
    height: 39px;
}

.icon3{
    width: 44px;
    height: 29px;
}

.information{
    justify-content: center;
}

.information-container-1{
    align-items: center;
}

.information-container-2{
    flex-wrap: wrap;
}

.icon2{
    width: 33px;
    height: 33px;
}