body{
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 0.87rem;
    font-weight: 500;
}

.button{
    background-color: #aace9b;
    border: none;
}

.button:hover{
    background-color: #000;
    color: #fff;
}

.bold{
    font-weight: 700;
}

.uppercase{
    text-transform: uppercase;
}

h2{
    font-size: 2.5rem;
    color: #373867;
}

a{
    text-decoration: none;
}

#RR-logo{
    position: fixed;
    width: 13%;
    max-width: 112px;
    bottom: 20px;
    right: 20px;
}