main{
    align-items: center;
}

section{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

h1{
    max-width: 530px;
    font-size: 3rem;
    color: #373867;
}

#free-template{
    width: 85%;
    max-width: 680px;
    font-size: 2.25rem;
    color: #423C3C;
}

#gym-img{
    width: 85%;
    max-width: 852px;
}

.divisor{
    width: 70%;
    max-width: 500px;
    height: 5px;
    margin:auto;
    background-color: #bebebe;
}

.info-section{
    text-align: center;
}

.info{
    align-items: center;
    width: 50%;
    min-width: 375px;
    box-sizing: border-box;
}

.info-img-container{
    height: 213px;
    align-items: flex-end;
}

.info p{
    max-width: 500px;
}

#calendar1{
    width: 214px;
}

#calendar2{
    width: 145px;
}

#credit-cards{
    width: 249px;
}

#notes{
    width: 177px;
    margin-bottom: 20px;
}

.form-option{
    justify-content: center;
}

input[type="text"], input[type="email"]{
    background-color: #D9D9D9;
}

textarea{
    width: 364px;
    height: 137px;
    box-shadow: 5px 5px 5px rgb(178, 178, 178);
}

input[type="submit"]{
    width: 109px;
    height: 33px;
    border-radius: 5px;
}

#about-us-p{
    width: 80%;
    padding: 60px 30px;
    background-color: rgba(170, 206, 155, 0.1);;
    box-sizing: border-box;
}

#activities{
    align-items: center;
    width: 100%;
}

.activity-container{
    min-width: 260px;
    margin: 0;
    height: 230px;
}

.activity-img{
    width: 260px;
    height: 200px;
    object-fit: cover;
}

h3{
    display: inline-block;
    width: 311px;
    height: 40px;
    padding-top: 12px;
    border-radius: 5px;
    box-sizing: border-box;
}

#black{
    background-color: #000;
    color: #fff;
}

#classic{
    background-color: #CCCBCB;
    margin-top: 50px;
}

#only-classes{
    background-color: #ededed;
    margin-top: 50px;
}