footer{
    text-align: center;
}

footer div{
    text-align: center;
}

.social-media-container{
    height: 50px;
    width: 33.3%;
    vertical-align: middle;
    text-align: center;
}

#footer-text{
    width: 100%;
    text-align: center;
}

#footer-text p{
    width: 100%;
}

#RR-logo{
    width: 13%;
    max-width: 112px;
    text-align: center;
}

@media screen and (min-width:600px) {
    .social-media-container{
        width: 16.6%;
    }

    #RR-logo{
        position: fixed;
        bottom: 90px;
        right: 20px;
    }
}

@media screen and (min-width:1024px) {
    footer{
        margin-left: 25%;
    }
}