.h3-container{
    justify-content: center;
    align-items: center;
    width: 311px;
    height: 40px;
    border-radius: 5px;
    font-weight: 700;
}

#black{
    background-color: #000;
    color: #fff;
}

#classic{
    background-color: #CCCBCB;
    margin-top: 50px;
}

#only-classes{
    background-color: #ededed;
    margin-top: 50px;
}

.ul-container{
    text-align: left;
}